.controls {
    width: 100%;
    display: flex;
    gap: 5px;
}

@media only screen and (max-width: 600px) {
    .controls {
        display: flex;
        flex-wrap:wrap;
        margin-left: auto;
        gap: 5px;
    }
  }

.add-btn {
    width: 122.21px;
    height: 41.53px;
    top: 108px;
    left: 1026px;
    gap: 0px;
    opacity: 0px;
    padding: 11px 17px 11px 17px;
    gap: 10px;
    opacity: 0px;
    background-color: #1B3646;
    border-radius: 15px;
    color: #fff;
    font-family: 'Montserrat';
    cursor: pointer;
}

.remove-btn {
    width: 122.21px;
    height: 41.53px;
    top: 108px;
    left: 1026px;
    gap: 0px;
    opacity: 0px;
    padding: 11px 17px 11px 17px;
    gap: 10px;
    opacity: 0px;
    background-color: #1B3646;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
}

.restart-btn {
    width: 122.21px;
    height: 41.53px;
    top: 108px;
    left: 1026px;
    gap: 0px;
    opacity: 0px;
    padding: 11px 17px 11px 17px;
    gap: 10px;
    opacity: 0px;
    background-color: #fff;
    border: 1px solid #595959;
    border-radius: 15px;
    color: #595959;
    cursor: pointer;
}