.App-logo {
  height: 42px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1B3646;
  max-height: 80px;
  display: flex;
  padding-left: 24px;
  gap: 2px;
  font-family: 'Montserrat';
  font-size: 32px;
  font-weight: 600;
  line-height: 39.01px;
  align-items: center;
  color: white;
}

.counter-controls {
  margin-top: 5px;
  margin-left: 15px;
  display: flex;
  gap: 73vw;
  align-items: center;
}

.line{
  margin-left: 15px;
  font-family: 'Montserrat';
}

.polys {
  gap: 10px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}